/* -------------------Tag Styles------------------------ */
div {
  font-family: "Ubuntu", sans-serif;
}
h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

html{
  background-color: #f9f6f7;
}


/* -------------------Other Styles------------------------ */

/* Main Heading style */
.main-heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.jira-icon {
  color: #fdcb9e;
  font-size: 40px;
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}

.jira-icon:hover {
  color: tomato;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.edit-dots {
  /* color: #fdcb9e; */
  /* font-size: 40px; */
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
}

.edit-dots:hover {
  /* color: tomato; */
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}



@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.github-icon {
  color: #fdcb9e;
  font-size: 40px;
}

.github-icon:hover {
  color: tomato;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Footer Style */
.footer {
  font-family: "Overpass Mono", monospace;
  height: 30px;
  font-size: 12px;
  color:white;
}

.footer-link,
.footer-link:link,
.footer-link:visited,
.footer-link:focus,
.footer-link:active {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  font-weight: bolder;
  font-size: 0.8rem;
  color: #ec823a;
}

/* Style for each card */
.task-card {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  cursor: all-scroll;
}


/* Style for card description */
/* .card-body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
} */

.bucket {
  min-height: 80vh;
  padding: 10px 1% 50px 1%;
}

.bucket-edit:hover {
  color: #f37121;
}
